# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/mail/target/
/web/target/
/base/target/
/all-kinds-of-demo.iml
/base/base.iml
/mail/mail.iml
/web/web.iml
/file/file.iml
/file/target/classes/META-INF/file.kotlin_module
/file/src/test/java/work/koreyoshi/file/project/serivce/impl/SimpleFileStorageServiceImplTest.java
/app-dao/app-dao.iml
/app-service/app-service.iml
/../web-test/target/classes/work/koreyoshi/Application.class
/app-dao/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/app-dao/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/app-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/app-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/../web-test/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/../web-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/../web-test/target/classes/work/koreyoshi/project/controller/FileController.class
/app-dao/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/app-dao/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/app-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/app-service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/../web-test/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/../web-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/../web-test/target/classes/work/koreyoshi/project/controller/JsoupController.class
/../web-test/target/classes/config/mail.setting
/../web-test/target/classes/work/koreyoshi/project/controller/Node$NodeBuilder.class
/../web-test/target/classes/work/koreyoshi/project/controller/Node.class
/app-dao/target/maven-archiver/pom.properties
/app-service/target/maven-archiver/pom.properties
/../web-test/target/maven-archiver/pom.properties
/../web-test/target/classes/work/koreyoshi/config/RestTemplateConfig.class
/../web-test/target/classes/work/koreyoshi/project/controller/SendMailController.class
/../web-test/target/classes/work/koreyoshi/config/ShiroConfig.class
/../web-test/web-test.iml
/../web-test/target/web-test-1.0-SNAPSHOT.jar
/../web-test/target/web-test-1.0-SNAPSHOT.jar.original
/../web-test/target/classes/work/koreyoshi/project/handler/WebTestExceptionHandler.class
/../web-test/target/classes/work/koreyoshi/project/controller/WeChatController.class
